{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Homepage
{% endblock %}


{% block header %}
    {{ parent() }}  
{% endblock %}



{% block content %}
    <h1>Hello {{ name }} !</h1>
{% endblock %}

{% block footer %}
        {{ parent() }}   
{% endblock %}